.footer {
  padding: 2rem 0 4rem;
  background-color: $color-secondary;
  color: $color-grey-light-2;

  &__logo {
    width: 20rem;

    &-box {
      @include respond(phone) {
        text-align: center;
      }
    }
  }

  &__nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__heading {
    font-weight: 900;
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-grey-light-2;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: $color-grey-light-3;
    }

    &:focus {
      box-shadow: 0 0 0 0.5rem rgba($color-primary, 0.8) !important;
    }

    &-social {
      display: flex;
      align-items: center;
      gap: 1.4rem;
    }

    &-priv {
      &:link,
      &:visited {
        font-size: 1.4rem;
      }
    }
  }

  &__icon {
    font-size: 2rem;
  }
}

.copy {
  grid-column: span 4;
  justify-self: center;
  font-size: 1.4rem;
}
