table {
  font-size: 1.8rem;
  width: 100%;
  margin-top: 6rem;
  border-collapse: collapse;
  position: relative;
  z-index: 2;
}

th,
td {
  padding: 1.6rem 2.4rem;
  text-align: left;
  vertical-align: top;
}

th:first-child {
  padding-left: 14rem;
  text-align: left;

  @include respond(tab-land) {
    padding-left: 5rem;
  }

  @include respond(phone) {
    padding-left: 2rem;
    text-align: center;
  }
}

th:last-child {
  padding-right: 14rem;

  @include respond(tab-land) {
    padding-right: 5rem;
  }

  @include respond(phone) {
    padding-right: 2rem;
  }
}

td:last-child {
  @include respond(phone) {
    text-align: center;
  }
}

th {
  & span:first-child {
    font-weight: 500;
  }
}

thead th {
  background-color: #e6edf5;
  color: $color-secondary-dark;
  text-transform: uppercase;
  font-weight: 900;
}

thead th:nth-child(2) {
  text-align: center;
  width: 55%;
}

td:nth-child(2) {
  @include respond(phone) {
    hyphens: auto;
  }
}

tbody tr:nth-child(odd) {
  background-color: #fafbfd;
}

tbody tr:nth-child(even) {
  background-color: #edf0f5;
}
